*{
    box-sizing:border-box;
}
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.shoppingList {
    
    width: 500px;
    max-height:100vh;
    overflow: auto;
    margin-left:15px;
}

#firstTextField {
    float: left;

}

#children-pane {
    margin-left: 15px;
    position: absolute;
    left: 0;
}

#textfieldz{
    margin-bottom:10px;
}

#addButton img{
    position:fixed;
    left:350px;
    bottom:0px;
    margin-right: 10px;
    height: 55px;
    width: auto;
}


.recipeList {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    margin-left: 15px;
}