body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
#firstTextField{
   
}

button {
    float: right;
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
}

#firstTextField{
    float:left;
}